# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build artifacts
build/
dist/

# Environment variables
.env

# IDE/Editor-specific files
.vscode/
.idea/

# Log files
log/

# Dependency directories
bin/
obj/

# Cache and temp files
.cache/
.temp/

# Compiled files
*.js
*.jsx
*.css

# Miscellaneous
*.log
*.swp
